*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(183, 228, 213);
}

.kanban_container{
    width: 100%;
    height: 100%;
    padding: 60px;
    box-sizing: border-box;
    overflow: scroll;
}

.kanban-component{
    display: flex;
    gap: 35px;
}